﻿doctype html
//html(manifest='/cache/cache.manifest')
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="mobile-web-app-capable" content="yes")
        title=title
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')

    body
        div(class='navbar navbar-default navbar-fixed-top')
            div(class="container-fluid")
                div(class="navbar-header")
                    a(href="/")
                        Home





        div(class='container')
            block content

        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

        block page_scripts
