<html ng-app="panel">
    <head>
        <title>Panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css"/>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/seasonvar.js"></script>
        <script src="js/raspberrypi.js"></script>
    </head>
    <body>

        <div style="float:left;color: #fff; border: 1px solid #50673A; padding: 2px; margin: 15px" ng-controller="seasonvar">
            <div style="border: 1px solid #83BB4E; padding: 8px">
                <div ng-repeat="serial in serials" style="color:#83BB4E">
                    <span style="color:#50673A;">&#155;</span>
                    {{serial.title[0]}}
                </div>
            </div>
        </div>

        <div style="float:left;color: #fff; border: 1px solid #50673A; padding: 2px; margin: 15px">
            <div style="border: 1px solid #83BB4E; padding: 8px; background: #041F00">
                <!--Kurs.com.ua main-ukraine 350x130 green-->
                <div id='kurs-com-ua-informer-main-ukraine-350x130-green-container'><a href='http://kursvalut.com' id='kurs-com-ua-informer-main-ukraine-350x130-green' title='Курс валют в России' target='_blank'>Курс валют в России</a></div>
                <script type='text/javascript'>
                (window.updateCurrencies = function () {var iframe = '<ifr'+'ame src="http://kurs.com.ua/informer/inf2?color=green" width="350" height="130" frameborder="0" vspace="0" scrolling="no" hspace="0"></ifr'+'ame>';var container = document.getElementById('kurs-com-ua-informer-main-ukraine-350x130-green');container.innerHTML = iframe;})();
                window.setInterval(updateCurrencies, 3600*1000);
                </script>
                <!--//Kurs.com.ua main-ukraine 350x130 green-->
            </div>
        </div>

        <div ng-controller="raspberrypi">
            <p>Raspberry Pi IP: {{ip}}</p>
            <form>
                <input type="text" ng-model="new_ip" />
                <button ng-click="update()">Update IP manually</button>
            </form>
        </div>
    </body>
</html>
